div.solid {
    padding:10px ;
    color: rgb(7, 1, 1);
    border-radius: 25px;
    font-size: large;
    font-weight:bold ;
    text-shadow:0 0 3px #020700;
    box-shadow: 10px 10px 10px 5px rgb(10, 0, 0);
    background-color:#3b546f
    
}

